<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StudentServiceTest.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <StudentServiceTest.Config>
            <setting name="BaseUrl" serializeAs="String">
                <value>http://localhost:1657/api/</value>
            </setting>
            <setting name="EducationalInstitutes" serializeAs="String">
                <value>universities/</value>
            </setting>
            <setting name="Programs" serializeAs="String">
                <value>programs/</value>
            </setting>
            <setting name="Namespace" serializeAs="String">
                <value>http://studentdatabank.org</value>
            </setting>
            <setting name="SingleUniversity" serializeAs="String">
                <value>OX/</value>
            </setting>
            <setting name="UniversityProgramCode" serializeAs="String">
                <value>MSC_SE</value>
            </setting>
            <setting name="ProgramCourses" serializeAs="String">
                <value>/courses/</value>
            </setting>
            <setting name="ProgramCourseCode" serializeAs="String">
                <value>MAT101</value>
            </setting>
        </StudentServiceTest.Config>
    </applicationSettings>
</configuration>