<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">AwardCloud.org</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to Award Cloud!</h1>
                
            </hgroup>
            <p>
                Award Cloud is a central Cloud storage for storing and exchanging Student Records among Universities.
            </p>            
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Getting started:</h3>
        <ol class="round">
            <li class="one">
                <h5>Register yourself</h5>
                Register your university and a secure endpoint that we can call to validate student record with you and fetch
                courses that your students have done. 
            </li>

            <li class="two">
                <h5>Upload your courses and programs</h5>
                Define the courses you offer and map them to <em>Universal Courses</em>.
            </li>
            <li class="three">
                <h5>Add Students and initiate award program</h5>
                Add your students and link your students to other universities by validating against other universities.
                Then initiate awarding a program and we will automatically fetch records from linked universities and tell
                you which courses are be credited towards the Program.
            </li>
        </ol>
    </section>
</div>
